@use "../abstracts/colors" as *;

.asideGlobal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 5.2vw;
  height: 100vh;
  background-color: transparent;
  border-right: 2px solid $color_2;
  box-shadow: 0px 0px 2px 1px $color_4;
  .menuNavigationAsideMedia {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 20rem;
    .fa-brands {
      font-size: 1.5rem;
      transform: rotate(-90deg);
      &:hover{
        color: $color_3;
      }
    }
  }
}
