@use "../abstracts/colors" as *;
.mainGloba{
  // border: 2px solid red;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 95vh;
  background: $background_1;
  background-repeat: no-repeat;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  .sectionGlobal {
    width: 28rem;
    margin-right: 10%;
   
  }
}
