@use "../abstracts/colors" as *;

#menuNavigationAside {
  display: none;
}

.menuNavigation {
  display: flex;
  justify-content: space-evenly;
  margin-right: 5.25rem;

  &.search form {
    display: none;
  }
  .search {
    form {
      display: none;
      &.active form {
        display: flex;
      }
    }
    &.active form {
      display: flex;
    }
  }
}
