@use "../abstracts/colors" as *;
@use "../abstracts/hyperlinks" as *;

.aboutMainGlobal {
  .aboutPresentation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 109.845vh;
    background: $background_2;
    background-repeat: no-repeat;
    background-size: cover;
    .aboutPresentationTitle,
    .aboutPresentationButtons {
      margin: 1rem 10rem;
    }
    .aboutPresentationTitle {
      .aboutPresentationName,
      .aboutPresentationDescription {
        width: 31.25rem;
        margin-right: 10%;
        text-align: justify;
      }
    }
    .aboutPresentationButtons {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 32rem;
      height: 4em;
    }
  }
  .aboutAbout {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    height: 100vh;
    background: $background_3;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
    
    .aboutAboutPresentation,
    .aboutAboutDetails {
      margin: 1rem 10rem;
    }
    .aboutAboutDetails{
      width: 40rem;
      .aboutAboutDescription {
        margin: 1em 0;
      }
    }

  }
  .aboutSkills {
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    .aboutSkillsSoftwareSkills,
    .aboutSkillsExperience,
    .aboutSkillsWhatCanDo {
      margin: 12vh .25rem;
      height: 86vh;
    }

    .aboutSkillsSoftwareSkills {
      width: 30%;
    }
    .aboutSkillsExperience {
      width: 40%;
      margin-left: 4em;
    }
    .aboutSkillsWhatCanDo {
      width: 20%;
    }

    .aboutSkillsBox {
      display: flex;
      align-items: center;
      margin: 1em 0.5em;
      .aboutSkills-fa-brands {
        padding: 0 0.5em;
        font-size: 1.5em;
      }
      h3 {
        width: 12em;
        font-size: 1em;
      }
      .line-with-icon {
        position: relative;
        width: 100%;
        height: 2px;
        padding: 0 1em;
        hr {
          border: none;
          background-color: $background-color_2;
          height: 100%;
          width: 100%;
        }
        .aboutSkills-circle-dot {
          font-size: 1.5em;
          position: absolute;
          top: -13px; /* Vertical positioning of the icon */
          left: 70%; /* Horizontal positioning of the icon */
          display: inline-block;
          color: $color_3;
        }
        .circle-dot-css {
          left: 60%;
        }
        .circle-dot-js {
          left: 65%;
        }
        .circle-dot-react {
          left: 0%;
        }
        .circle-dot-ps {
          left: 80%;
        }
        .circle-dot-pt {
          left: 90%;
        }
        .circle-dot-en {
          left: 80%;
        }
        .circle-dot-es {
          left: 70%;
        }
        .circle-dot-g {
          left: 30%;
        }
        .circle-dot-fr {
          left: 20%;
        }
      }
    }
    .aboutSkillsLanguage {
      margin: 5em 0.5em;
    }
    .aboutSkillsPersonal {
      margin: 2.5em 0.5em;
      h2 {
        margin: 0.8em 0;
      }
    }
  }
  .word-bullet {
    text-align: center;
    &:not(:last-child)::after {
      content: " \2022";
      color: $color_3;
    }
  }

  .aboutSkillsExperience {
    .aboutSkillsExperienceProfessional {
      display: flex;
      .aboutSkillsExperienceBalloon-container {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100px;
        height: 85px;
        .balloonContainerLine {
          position: absolute;
          width: 2px; /* Largura da linha vertical */
          height: 50px; /* Altura da linha vertical */
          background-color: $color_3; /* Cor da linha vertical */
          left: 50%; /* Posicionamento horizontal da linha vertical */
          top: 50%;
          transform: translateX(-50%);
        }
        .balloonContainerBalloon {
          position: relative;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 50px; /* Largura do balão */
          height: 50px; /* Altura do balão */
          border-radius: 50%; /* Forma do círculo */
          background-color: $color_3; /* Cor de fundo do balão */
          padding: 20px; /* Espaçamento interno */
          font-size: 16px; /* Tamanho da fonte do texto */
          color: $color_4; /* Cor do texto */
        }
      }
      .aboutSkillsExperienceProfessionalDescription {
        height: 85px;
      }
    }
  }
  .aboutSkillsExperienceEducation,
  .aboutSkillsWhatCanDoDesignSkills,
  .aboutSkillsWhatCanDoHobbies {
    margin-top: 2em;
  }

  .aboutSkillsWhatCanDoHobbiesSections {
    display: grid;
    justify-items: center;
    grid-auto-columns: 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0em 0em;
    grid-template-areas:
      "Travel Volleyball"
      "Swim Photography"
      "Plane-Spotting Architecture";
  
    .Travel {
      grid-area: Travel;
    }
    .Volleyball {
      grid-area: Volleyball;
    }
    .Swim {
      grid-area: Swim;
    }
    .Photography {
      grid-area: Photography;
    }
    .Plane-Spotting {
      grid-area: Plane-Spotting;
    }
    .Architecture {
      grid-area: Architecture;
    }
    .aboutSkillsWhatCanDoHobbiesSectionsContainer {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin: 0.5em;
      .aboutSkillsWhatCanDoHobbiesSectionsIcon {
        display: flex;
        align-items: center;
        justify-content: center;
  
        width: 80px; /* Largura do balão */
        height: 80px; /* Altura do balão */
        border-radius: 50%; /* Forma do círculo */
        background-color: $color_3;
        .fa-solid {
          left: 50%; /* Posicionamento horizontal da linha vertical */
          top: 50%;
          font-size: 2em;
          color: $color_4
        }
      }
    }
  }
}

