body {
  /* Gradient in Hex */
  background: linear-gradient(
    to bottom right,
    #545557 0%,
    4.7416843595187546%,
    #464b4e 29.723991507431%,
    60.003682140100366%,
    #1a191e 99.43382873319179%
  );

  background-repeat: no-repeat;
  margin-left: 100px;
}
